* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  background: #202632;

  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 0 3.2rem;
}

.card {
  position: relative;
  text-align: center;
  background-color: #313a49;
  max-width: 54rem;
  padding: 4.8rem 3.8rem 7.8rem 3.8rem;

  border-radius: 15px;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.25);
}

.id {
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  color: #53ffab;
  margin-bottom: 2.4rem;
}

.advice {
  font-size: 2.8rem;
  line-height: 1.4;
  color: hsl(193, 38%, 86%);
  margin-bottom: 3.6rem;
}

.dice {
  position: absolute;
  left: 50%;
  bottom: -3.4rem;
  transform: translateX(-50%);
  background-color: #53ffab;
  padding: 2.2rem;
  border-radius: 50rem;
  cursor: pointer;
  transition: all 0.1s;
}

.dice:hover {
  background-color: #4be69a;
  box-shadow: 0 0 3.2rem #4be69a;
}

.dice:active {
  bottom: -3.8rem;
}

@media screen and (max-width: 768px) {
  .id {
    font-size: 1.2rem;
  }

  .advice {
    font-size: 2.4rem;
  }
}
